
<div class="container-fluid mt-5 row justify-content-center d-flex">
    <div class="card p-3 col-6 " >
        <div class="">
            <h2>Sign Up</h2>
    <form (ngSubmit)="onSignup()">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" [(ngModel)]="user.address" name="address">
        </div>
        <div class="mb-3">
            <label for="mobile_Phone" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="mobile_Phone" [(ngModel)]="user.mobile_Phone" name="mobile_Phone">
        </div>
        <div class="mb-3">
            <label for="user_Role" class="form-label">Role</label>
            <input type="text" class="form-control" id="user_Role" [(ngModel)]="user.user_Role" name="user_Role">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <p class="mt-3">Don't have an account? <a routerLink="/login">Sign in here</a></p>
    </form>
        </div>
    </div>
</div>

